<h2>Администрация</h2>

<b style="color:orangered">В процес на разработка! </b>Това е началната страница на администраторския панел, тук може да покажем някои данни, статистики, нови потребители или съобщения за нередности, които администратора получава. Връзките към страниците за управление на данни ще бъдат в навигационното поле (горе или в странична лента).

@section scripts {
    <script>
        $('[href*=home]').closest('.menu-item').addClass('selected');
    </script>
}