<h1>Администрация</h1>

<h4><b>Временно съобщение: </b>Това е началната страница на администраторския панел, тук може да покажем някои данни, статистики, нови потребители или съобщения за нередности, които администратора получава. Връзките към страниците за управление на данни ще бъдат в навигационното поле (горе или в странична лента).</h4>