@using GridMvc.Html
@using Fima.Web.Areas.Administration.Models

@model IEnumerable<FimaUsersViewModel>

<h2>Управление на потребителите</h2>

<b style="color:orangered">В процес на разработка! </b>Това е страница за управление на потребителите в табличен вид, така както са записани в базата с данни.

<hr/>

<h4>Списък с потребители</h4>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Id).Titled("номер").Sortable(true);
    columns.Add(c => c.strName).Titled("име").Sortable(true).Filterable(true);
    columns.Add(c => c.UserName).Titled("потребител").Sortable(true).Filterable(true);
    columns.Add(c => c.strEmpPassword).Titled("парола");
    columns.Add(c => c.Email).Titled("е-мейл").Filterable(true);
    columns.Add(c => c.PhoneNumber).Titled("телефон");
    columns.Add(c => c.EmpFunction).Titled("функция");
    columns.Add(c => c.emptown).Titled("град").Sortable(true);
    columns.Add(c => c.strTown).Titled("град").Sortable(true);
    columns.Add(c => c.strIndex).Titled("индекс");
    columns.Add(c => c.strAccess).Titled("достъп");
    columns.Add(c => c.AccessFailedCount).Titled("Опити");
    columns.Add(c => c.FimaRoles).Titled("роли");
}).WithPaging(20)

@section scripts {
    <script>
        $('[href*=users]').closest('.menu-item').addClass('selected');
    </script>
}