@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Моля, проверете вашия е-мейл за връзка към форма за промяна на паролата.
    </p>
</div>
	
