@{
    ViewBag.Title = "Потвърждение за промяна на паролата.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Вашата парола е успешно променена. Моля @Html.ActionLink("натиснете тук за вход в системата!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
