<h2>Управление на потребителите</h2>

<b style="color:orangered">В процес на разработка! </b>Това е страница за управление на потребителите в табличн вид, така както са записани в базата с данни, тук ще могат да се променят роли и други данни за потребителите. Връзките към страниците за управление на данни ще бъдат в навигационното поле (горе или в странична лента).

@section scripts {
    <script>
        $('[href*=manageusers]').closest('.menu-item').addClass('selected');
    </script>
}