<ul>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>фронт офис
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">регистриране на клиент</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на клиенти</a></li>
            <li class="submenu-item"><a class="links" href="#">регистриране на договор</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на договорите</a></li>
            <li class="submenu-item"><a class="links" href="#">нова поръчка клиент</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на поръчките</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед сделки клиенти</a></li>
            <li class="submenu-item"><a class="links" href="#">справка порфейл за фонд</a></li>
            <li class="submenu-item"><a class="links" href="#">справка порфейл всички фондове</a></li>
            <li class="submenu-item"><a class="links" href="#">справка НСА фондове</a></li>
            <li class="submenu-item"><a class="links" href="#">справка остатъци</a></li>
            <li class="submenu-item"><a class="links" href="#">касови операции</a></li>
        </ul>
    </li>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>фронт офис schroders
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">регистриране на фонд</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на фондове</a></li>
            <li class="submenu-item"><a class="links" href="#">регистриране на договор</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед договори schroders</a></li>
            <li class="submenu-item"><a class="links" href="#">регистриране на поръчка</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на поръчки</a></li>
            <li class="submenu-item"><a class="links" href="#">регистриране на сделка</a></li>
            <li class="submenu-item"><a class="links" href="#">регистриране на к. събитие</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на сделки</a></li>
            <li class="submenu-item"><a class="links" href="#">факс за деня</a></li>
            <li class="submenu-item"><a class="links" href="#">справка портфейл</a></li>
            <li class="submenu-item"><a class="links" href="#">импорт на цени</a></li>
        </ul>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index", "Client")"><i class="fa fa-chevron-right"></i>обработка на поръчки</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("List", "Client")"><i class="fa fa-chevron-right"></i>рег. поръчка schroders</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index", "Contract")"><i class="fa fa-chevron-right"></i>рег. сделка schroders</a>
    </li>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>емисии
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">нова емисия</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на емисии</a></li>
            <li class="submenu-item"><a class="links" href="#">добавяне валута</a></li>
            <li class="submenu-item"><a class="links" href="#">добавяне отрасъл</a></li>
            <li class="submenu-item"><a class="links" href="#">добавяне страна</a></li>
        </ul>
    </li>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>поръчки за портфейл
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">нова поръчка портфейл</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед поръчки портфейл</a></li>
        </ul>
    </li>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>сделки за портфейл
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">нова сделка портфейл</a></li>
            <li class="submenu-item"><a class="links" href="#">преглед на сделки портфейл</a></li>
            <li class="submenu-item"><a class="links" href="#">корпоративно събитие</a></li>
        </ul>
    </li>
    <li class="menu-item toggle">
        <i class="fa fa-chevron-down"></i>дневници
        <ul class="submenu">
            <li class="submenu-item"><a class="links" href="#">поръчки клиенти</a></li>
            <li class="submenu-item"><a class="links" href="#">сделки клиенти</a></li>
            <li class="submenu-item"><a class="links" href="#">поръчки за портфейла</a></li>
            <li class="submenu-item"><a class="links" href="#">сделки за портфейл</a></li>
            <li class="submenu-item"><a class="links" href="#">ведомост получени съми на каса</a></li>
        </ul>
    </li>
</ul>