@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "item-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="login-right">
        <li>
            <i class="fa fa-user"></i>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            <i class="fa fa-sign-out"></i>
            <a href="javascript:document.getElementById('logoutForm').submit()">изход</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="login-right">
        <li>
            <i class="fa fa-user-plus"></i>
        @Html.ActionLink("регистрация", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            <i class="fa fa-sign-in"></i>
        @Html.ActionLink("вход", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
