<ul>
    @{
        if (this.User.IsInRole("Administrator"))
        {
            <li class="menu-item">
                <a class="links" href="@Url.Action("Index","Home")"><i class="fa fa-envelope-square"></i>админ</a>
            </li>
            <li class="menu-item">
                <a class="links" href="@Url.Action("Index","Home")"><i class="fa fa-exclamation-circle"></i>проба</a>
            </li>
            <li class="menu-item">
                <a class="links" href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i>нещо друго</a>
            </li>
            <li class="menu-item toggle">
                <i class="fa fa-dedent"></i>падащо меню<i class="fa fa-chevron-down icon-right"></i>
                <ul class="submenu">
                    <li class="submenu-item"><a class="links" href="#">под-меню 1</a></li>
                    <li class="submenu-item"><a class="links" href="#">под-меню 2</a></li>
                    <li class="submenu-item"><a class="links" href="#">под-меню 3</a></li>
                    <li class="submenu-item"><a class="links" href="#">под-меню 4</a></li>
                    <li class="submenu-item"><a class="links" href="#">под-меню 5</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="links" href="@Url.Action("Index","Home")"><i class="fa fa-calculator"></i>последно</a>
            </li>
        }
    }
</ul>

<script>
    $('.menu-item').click(function (ev) {
        ev.preventDefault();
        $('.toggle').removeClass('unfold');
        $('.menu-item').removeClass('selected');
        $(ev.target.closest('.menu-item')).addClass('selected');
    });

    $('.submenu-item').click(function (ev) {
        ev.preventDefault();
        $('.submenu-item').removeClass('sub-selected');
        $(ev.target.closest('.submenu-item')).addClass('sub-selected');
    });

    $('.toggle').click(function (ev) {
        ev.preventDefault();
        $('.toggle').removeClass('unfold');
        $(ev.target.closest('.toggle')).addClass('unfold');
    });

    $('.unfold').click(function (ev) {
        ev.preventDefault();
        $(ev.target.closest('.toggle')).removeClass('unfold');
    });

</script>