@model HandleErrorInfo

@{
    ViewBag.Title = "Блокиран профил";
}

<div>
    <h1 class="text-danger">Блокиран потребителски профил.</h1>
    <h2 class="text-danger">Този потребителски профил е временно блокиран, опитайте по-късно.</h2>
</div>
